#wrapper {
  width: 2200px;
  transform: translate3d(0, 0, 0);
  transition: transform .5s ease-in-out;
}

.content {
  float: left;
  width: 550px;
  height: 350px;
  white-space: normal;
  background-repeat: no-repeat;
}

#itemOne {
  background-color: #09C;
  background-image: url("https://www.kirupa.com/images/blueSquare.png");
}

#itemTwo {
  background-color: #FC0;
  background-image: url("https://www.kirupa.com/images/yellowSquare.png");
}

#itemThree {
  background-color: #F66;
  background-image: url("https://www.kirupa.com/images/pinkSquare.png");
}

#itemFour {
  background-color: #E8E8E8;
  background-image: url("https://www.kirupa.com/images/graySquare.png");
}

#contentContainer {
  width: 550px;
  height: 350px;
  border: 5px solid black;
  overflow: hidden;
}

#navLinks {
  text-align: center;
  width: 550px;
}

#navLinks ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-top: 6px;
}

#navLinks ul li {
  float: left;
  text-align: center;
  margin: 10px;
  list-style: none;
  cursor: pointer;
  background-color: #CCC;
  padding: 5px;
  border-radius: 50%;
  border: black 5px solid;
}

#navLinks ul li:hover {
  background-color: #FF0;
}

#navLinks ul li.active {
  background-color: #333;
  color: #FFF;
  outline-width: 7px;
}

#navLinks ul li.active:hover {
  background-color: #484848;
  color: #FFF;
}
